<div>

    <sb-layout-dashboard>
        <sb-dashboard-head [hideBreadcrumbs]="true"></sb-dashboard-head>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-success"
            acceptLabel='Sí' acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
        <div class="content-servidor implementation">

            <!-- INICIA HEADER BUSCADORES Y BOTONES CRUD-->
            <div class="p-grid" style="margin-top: 0;">
                <div class="p-col-3" style="margin-left: -0.5rem;  ">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columnas seleccionadas" maxSelectedLabels="2"
                        [style]="{minWidth: '200px', maxHeight: '37px' }" defaultLabel="Seleccionar columnas">
                    </p-multiSelect>
                </div>

                <div class="p-col-3">
                    <div class="p-inputgroup" style="max-height: 37px">
                        <input class="p-inputtext-sm" type="text" pInputText (keyup.enter)="buscarDatos()"
                            id="buscarElemento" placeholder="Buscar por clave, descripción..."
                            pTooltip="No se aceptan caracteres especiales, verificar acentos" tooltipPosition="top">
                        <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"
                            (click)="buscarDatos()"></button>
                    </div>
                </div>

                <div class="" style="margin-left: auto; margin-top: auto; margin-bottom: auto">
                    <div class="ui-inputgroup" style="float: right;">
                        <button pButton type="button" icon="pi pi-plus" class="p-button-sm btn-primary"
                            style="width: 110px" label="Añadir" (click)="callFormInsert();"></button> &nbsp;
                        <button pButton type="button" icon="pi pi-times" class="p-button-sm p-button-danger"
                            [disabled]="!selectedServidor || !selectedServidor.length" style="width: 110px"
                            label="Eliminar" (click)="toBorrarServers();"></button> &nbsp;
                        <button pButton type="button" icon="pi pi-check"
                            class="p-button-sm p-button-success p-button-sm pull-right"
                            [disabled]="updateTableButtonStatus" style="width: 110px" label="Guardar"
                            (click)="toUpdateServers()"></button>
                    </div>
                </div>
            </div>

            <!-- TERMINA HEADER BUSCADORES Y BOTONES CRUD-->

            <!-- INICIA TABLA DE CONTENIDO-->
            <div class="tabla-principal">
                <form [formGroup]="servidorForm">
                    <p-message severity="error" text="La clave nombre es requerido"
                        *ngIf="!servidorForm.controls['nombre'].valid&&servidorForm.controls['nombre'].dirty">
                    </p-message>

                    <p-table [columns]="selectedColumns" [value]="recorrer" [(selection)]="selectedServidor" [rows]="10"
                        [paginator]="true" [value]="servidorList" [resizableColumns]="true" scrollHeight="500px"
                        [rowsPerPageOptions]="[10,20,30,50,100]" styleClass="p-datatable-sm" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <!--encabezado del headers de las columnas-->
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>

                            <!--
                                para poder imprimir los datos siguientes se hace de la siguiente manera en tu componente debes de checar despues de la palabra reservada field como tienes escrito el campo. seguido de ello lo colocaras adelante de col.field == 'Nombre_como lo encontrastes en field para que pinte o imprima en la pantalla debes de 
                                colocarlo de la siguiente manera {{Recorrer.Nombre_column_DB}}
                               -->

                        </ng-template>

                        <ng-template pTemplate="body" let-recorrer let-columns="columns" let-i="rowIndex">
                            <tr [pSelectableRow]="recorrer" [pSelectableRowIndex]="i">
                                <td pEditableColumn *ngFor="let col of columns">

                                    <!--Estatus del cliente-->
                                    <p-cellEditor *ngIf="col.field == 'Estatus'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.estatus}}
                                        </ng-template>
                                    </p-cellEditor>

                                    <!--Ambiente del cliente-->
                                    <p-cellEditor *ngIf="col.field == 'ambiente'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.id_cliente}}
                                        </ng-template>
                                    </p-cellEditor>

                                    

                                    <!--Fecha de creación-->
                                    <p-cellEditor *ngIf="col.field == 'fecha_creacion'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.created_at}}
                                        </ng-template>
                                    </p-cellEditor>

                                    <!--Fecha de destruccion-->
                                    <p-cellEditor *ngIf="col.field == 'Fechadelete'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.deleted_at}}
                                        </ng-template>
                                    </p-cellEditor>


                                    <!--Rfc del cliente-->
                                    <p-cellEditor *ngIf="col.field == 'rfc'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.rfc}}
                                        </ng-template>
                                    </p-cellEditor>


                                    <!--Razon social del cliente-->
                                    <p-cellEditor *ngIf="col.field == 'razon'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.razon_social}}
                                        </ng-template>
                                    </p-cellEditor>

                                    <!--Direccion-->
                                    <p-cellEditor *ngIf="col.field == 'Direccion'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.domicilio}}
                                        </ng-template>
                                    </p-cellEditor>

                                    <!--Codiciones de dia-->

                                    <p-cellEditor *ngIf="col.field == 'Condiciones'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.con_dias}}
                                        </ng-template>
                                    </p-cellEditor>

                                    <!--Contacto Comercial-->

                                    <p-cellEditor *ngIf="col.field == 'ContactoComer'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.nombre1}}
                                        </ng-template>
                                    </p-cellEditor>


                                    <!--Contacto Funcional-->

                                    <p-cellEditor *ngIf="col.field == 'ContactoFunci'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.nombre2}}
                                        </ng-template>
                                    </p-cellEditor>


                                    <!--Contacto Funcional-->

                                    <p-cellEditor *ngIf="col.field == 'ContactoTecni'">
                                        <ng-template pTemplate="output">
                                            {{recorrer.nombre3}}
                                        </ng-template>
                                    </p-cellEditor>

                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                </form>
            </div>
            <!-- 

            TERMINA TABLA DE CONTENIDO-->
        </div>
    </sb-layout-dashboard>
    <p-toast [baseZIndex]="300000" position="top-center" key="tc"></p-toast>
</div>