<div>

  <sb-layout-dashboard>
    <sb-dashboard-head title="Configuración monitor de lectores" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <div class="content-alerta implementation">

      <!-- INICIA HEADER BUSCADORES Y BOTONES CRUD-->
      <div class="p-grid" style="margin-top: 0;">
        <div class="p-col-3" style="margin-left: 0;  ">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                         selectedItemsLabel="{0} columnas seleccionadas" maxSelectedLabels="2"
                         [style]="{minWidth: '200px', maxHeight: '37px' }" defaultLabel="Seleccionar columnas"></p-multiSelect>
        </div>

        <div class="p-col-3">
          <div class="p-inputgroup" style="max-height: 37px">
            <input class="p-inputtext-sm" type="text" pInputText (keyup.enter)="buscarDatos()" id="buscarElemento"
                   placeholder="Buscar por clave, descripción..."
                   pTooltip="No se aceptan caracteres especiales, verificar acentos" tooltipPosition="top">
            <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"
                    (click)="buscarDatos()"></button>
          </div>
        </div>

        <div class="" style="margin-left: auto; margin-top: auto; margin-bottom: auto">
          <div class="ui-inputgroup" style="float: right;">
            <button pButton type="button" icon="pi pi-plus" class="p-button-sm pull-right" style="width: 110px"
                    label="Añadir" (click)="callFormInsert();"></button> &nbsp;
            <button pButton type="button" icon="pi pi-check" class="p-button-sm p-button-success p-button-sm pull-right"
                    [disabled]="updateButtonStatus" style="width: 110px" label="Guardar" (click)="toUpdate()"></button>
          </div>
        </div>
      </div>

      <!-- TERMINA HEADER BUSCADORES Y BOTONES CRUD-->

      <!-- INICIA TABLA CON CONTENIDO ACTUAL-->
      <div class="tabla-principal">
        <form [formGroup]="lectorCronForm">
          <p-message severity="error" text="El nombre es requerido"
                     *ngIf="!lectorCronForm.controls['nombre'].valid&&lectorCronForm.controls['nombre'].dirty"></p-message>
          <p-table [columns]="selectedColumns" [(selection)]="selectedAlerta" selectionMode="multiple" dataKey="nombre"
                   [metaKeySelection]="true" (onRowSelect)="makeButtonVisible($event)"
                   (onHeaderCheckboxToggle)="makeButtonVisible($event)" [rows]="10" [paginator]="true" [value]="lectorCronList"
                   [resizableColumns]="true" scrollHeight="500px" [paginatorPosition]="'bottom'"
                   [rowsPerPageOptions]="[10,20,30,50,100]" styleClass="p-datatable-sm" [loading]="loading">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                              ariaLabelDesc="Activate to sort in descending order"
                              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th style="width: 10em" *ngIf="userCanDelete == 1">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>&nbsp;
                  Acciones
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i"
                  *ngIf="userCanEdit == 1 && userCanRead == 1 && mostrar">
                <td pEditableColumn *ngFor="let col of columns">
                  <p-cellEditor *ngIf="col.field == 'nombre'" #ifBlock
                                pTooltip="{{rowData[col.field].length < 3 ? 'El nombre debe ser de minimo 3 caracteres' : ''}}{{rowData.error ? 'Nombre repetido' : '' }}"
                                class="{{ rowData[col.field].length < 3 || rowData.error ? 'errorList': ''}}">
                    <ng-template pTemplate="input">
                      <input pInputText type="text" formControlName="nombre"
                             (keyup)="disableUpdateButton(rowData.nombre)" [(ngModel)]="rowData[col.field]"
                             (ngModelChange)="onBlurMethod(col.field, rowData.id, rowData[col.field],rowData); "
                             (focusout)="validaUpdateArray(2);">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>

                  <p-cellEditor pTooltip="{{rowData.estado === '' ? 'El estado es ogligatorio' : ''}}"
                                *ngIf="col.field == 'estado'" class="{{rowData.estado === '' ? 'errorList' : ''}}">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="brands" formControlName="estado" [(ngModel)]="rowData.estado"
                                  appendTo="body"
                                  (onChange)="onBlurMethod('estado', rowData.id, rowData[col.field],rowData); validaUpdateArray(2);">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ rowData.estado === 1? "Activo":"Desactivado" }}
                    </ng-template>
                  </p-cellEditor>

                  <p-cellEditor pTooltip="{{ rowData.hora === '' ? 'Debe tener el formato de 24 hrs' : ''}}"
                                *ngIf="col.field == 'hora'" class="{{ rowData.hora === '' ? 'errorList': ''}}">
                    <ng-template pTemplate="input">
                      <input pInputText type="time" formControlName="hora" [(ngModel)]="rowData[col.field]"
                             (ngModelChange)="onBlurMethod(col.field, rowData.id, rowData[col.field],rowData) ; "
                             (focusout)=" validaUpdateArray(2);">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.hora}}
                    </ng-template>
                  </p-cellEditor>

                  <p-cellEditor
                    pTooltip="{{rowData.tipo_hora === '' ? 'El tipo_hora es ogligatorio' : ''}}"
                    *ngIf="col.field == 'tipo_hora'"
                    class="{{rowData.tipo_hora === '' ? 'errorList' : ''}}">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="tipos_horas" formControlName="tipo_hora"
                                  [(ngModel)]="rowData.tipo_hora" #tipo_hora appendTo="body"
                                  (onChange)="onBlurMethod('tipo_hora', rowData.id, rowData[col.field], rowData); p_mostrarRow(rowData)">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.tipo_hora == 'lapso' ? 'Por lapso' : 'Por hora'}}
                    </ng-template>
                  </p-cellEditor>

                </td>
                <td style="width: 10em;" *ngIf="userCanDelete == 1">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox> &nbsp;&nbsp;
                  <!--<button pButton type="button" *ngIf="rowData.activo == 0 && userCanDelete == 1"
                          style="margin-left: 10px" icon="pi pi-times" class="p-button-danger p-button-sm"
                          (click)="deleteIndividualRow(rowData.nombre);"></button>-->
                  <button pButton type="button" style="margin-left: 10px; margin-right: .5rem;"
                          icon="pi pi-pencil" class="p-button-sm"
                          (click)="callFormUpdate(rowData);"></button>
                </td>
              </tr>
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i" *ngIf="userCanEdit == 0 && userCanRead == 1">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
                <td style="width: 10em;" *ngIf="userCanDelete == 1">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox> &nbsp;&nbsp;
                  <button pButton type="button" *ngIf="rowData.activo == 0 && userCanDelete == 1"
                          style="margin-left: 10px" icon="pi pi-times" class="p-button-danger p-button-sm"
                          (click)="deleteIndividualRow(rowData.nombre);"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr *ngIf="!mostrar">
                <td style="text-align: center" colspan="9">No hay datos disponibles</td>
              </tr>
            </ng-template>
          </p-table>
        </form>
      </div>

      <!-- TERMINA TABLA CON CONTENIDO ACTUAL-->

      <!-- INICIA MODAL PARA AGREGAR NUEVOS ROWS-->

      <div *ngIf="formulario">
        <p-dialog header="Agregar alertas" [(visible)]="display" [modal]="true" [responsive]="true"
                  [style]="{width: '60%', minWidth: '200px'}" [minY]="200" [maximizable]="true" [baseZIndex]="1000"
                  [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'auto','max-height': '80vh','min-height':'250px'}"
                  [closable]="false">
          <br>
          <div class="p-d-flex p-jc-between">

            <div *ngIf="!insert">
              <h2>Actualizar configuracion:</h2>
            </div>
            <div *ngIf="insert">
              <h2>Crear configuracion:</h2>
            </div>
            <div align="right">
              <!---Este es el div de botones con el formato que se nos pidio --->
              <button style="margin-left: 5px" pButton [disabled]="cerrarInsertButtonStatus" type="button"
                      icon="pi pi-times" class="p-button-sm p-button-danger" (click)="close();" label="Cerrar"></button>
              <button *ngIf="insert" style="margin-left: 5px" pButton type="button" [disabled]="insertButtonStatus"
                      icon="pi pi-check" class="p-button-success p-button-sm pull-right" (click)="store()"
                      label="Guardar"></button>
              <button *ngIf="!insert" style="margin-left: 5px" pButton type="button" icon="pi pi-check"
                      class="p-button-sm pull-right"
                      (click)="toUpdateCronHoras()" label="Actualizar" [disabled]="insertButtonStatus"></button>
              <button style="margin-left: 5px" pButton type="button" class="pull-right p-button-sm" icon="pi pi-plus"
                      (click)="addRow()"></button>

            </div>
          </div>
          <br>
          <div *ngIf="insert" style="margin-top: 1.5rem;">
            <div class="p-d-flex p-flex-column">
              <div class="p-formgroup-inline " style="width: 100%">
                <div class="p-field p-fluid">
                                    <span class="p-float-label">
                                        <input id="nombre_insert" type="text" pInputText #nombre="ngModel"
                                               class="p-inputtext-sm" minlength="4" (focusout)="validaLectorCronUpdate()"
                                               name="nombre" [(ngModel)]="insertLectorCron.nombre">
                                        <label for="nombre_insert">Nombre del server</label>
                                    </span>
                </div>
                <div class="p-field p-fluid" >
                                    <span class="p-float-label" >
                                        <p-dropdown  [style]="{'min-width':'180px'}" id="estado" [options]="brands" #estado class="p-inputtext-sm" name="estado"
                                                    placeholder='&nbsp;' optionLabel="label" [(ngModel)]="estadoInsert"
                                                    (onChange)="insertLectorCron.estado = estado.value.value; validaLectorCronUpdate()">
                                        </p-dropdown>
                                        <label for="estado">Seleccionar estado</label>
                                    </span>
                </div>


              </div>
            </div>

            <form role="form" #myForm="ngForm" class="p-d-flex p-flex-column" [formGroup]="lectorCronInsertform">
              <p-message severity="error" text="{{msj}}" *ngIf="errorGral"></p-message>
              <!--<p-message severity="error" text="La clave color/talla es requerido"
                         *ngIf="!lectorCronInsertform.controls['nombre'].valid&&lectorCronInsertform.controls['nombre'].dirty">
              </p-message>-->
              <div class="overflow-auto" style="max-width: 30% !important; margin-left: auto; margin-right: auto; margin-top: 1rem">


                <div class="overflow-auto">
                  <p-table [columns]="colsInsert" [value]="insertLectorCronHoras" [metaKeySelection]="true" selectionMode="single"
                           [(selection)]="selectedAlerta" dataKey="id" [scrollable]="false" scrollHeight="500px"
                           [resizableColumns]="true" autoLayout="true" styleClass="p-datatable-sm">

                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                      </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns; let i = index">
                           {{col.header}}
                         </th>
                        <th style="width: 8em;">Acciones</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                      <tr [pSelectableRow]="rowData">

                        <td style="width: 40px;">
                          {{rowData.id}}
                        </td>

                        <!--<td
                          pTooltip="{{rowData.nombre.length < 3 ? 'El nombre debe ser de minimo 3 caracteres' : ''}}{{validaNombre(rowData.nombre) ? msj : '' }}"
                          tooltipZIndex="10000000000" pEditableColumn
                          class="{{ rowData.nombre.length < 3 ||  validaNombre(rowData.nombre) ? 'error': ''}}">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.nombre"
                                     [ngModelOptions]="{standalone: true}" (focusout)="validaInsertArray();">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.nombre}}
                            </ng-template>
                          </p-cellEditor>
                        </td>-->

                        <!--<td pTooltip="{{rowData.estado === '' ? 'El estado es ogligatorio' : ''}}"
                            tooltipZIndex="10000000000" pEditableColumn class="{{ rowData.estado === '' ? 'error': ''}}">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="brands" formControlName="estado" [(ngModel)]="rowData.estado"
                                          appendTo="body" placeholder="Seleccionar" [baseZIndex]="10000" [style]="{'width':'100%'}">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.estado ===1? "Activo":rowData.estado ===1?"Desactivado":"" }}
                            </ng-template>
                          </p-cellEditor>
                        </td>-->
                        <td
                          pTooltip="{{rowData.hora === '' ? 'La hora es obligatoria' : ''}}"
                          tooltipZIndex="10000000000" pEditableColumn
                          class="{{ rowData.hora === '' ? 'error': ''}}">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="time" [(ngModel)]="rowData.hora"
                                     [ngModelOptions]="{standalone: true}" (focusout)="validaInsertArray()" (ngModelChange)="insertButtonStatus=false">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.hora}}
                            </ng-template>
                          </p-cellEditor>
                        </td>

                        <!--<td pTooltip="{{rowData.tipo_hora === '' ? 'El tipo de hora es ogligatorio' : ''}}"
                            tooltipZIndex="10000000000" pEditableColumn class="{{ rowData.tipo_hora === '' ? 'error': ''}}">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="tipos_horas" formControlName="tipo_hora" [(ngModel)]="rowData.tipo_hora"
                                          appendTo="body" placeholder="Seleccionar" [baseZIndex]="10000" [style]="{'width':'100%'}">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.tipo_hora ==='lapso'? "Por lapso":rowData.tipo_hora ==='hora'?'Por hora':"" }}
                            </ng-template>
                          </p-cellEditor>
                        </td>-->

                        <td style="width: 8em; text-align: center;">
                          <button pButton type="button" icon="pi pi-times" class="p-button-danger p-button-sm"
                                  (click)="removeRow(rowData.id);"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

              </div>
              <!--<div class="p-formgroup-inline">
                <div class="p-field conexion" *ngFor="let conexion of conexiones_disp">
                  <p-checkbox name="group1" value="{{conexion.value}}" inputId="{{conexion.value}}"
                              [(ngModel)]="conexiones"
                              (onChange)="addConnUpdate($event.checked, conexion.value)"></p-checkbox>
                  <label class="label-check" for="{{conexion.value}}">{{conexion.label}}</label>
                </div>
              </div>
              <div class="p-formgroup-inline">
                <div class="p-formgroup-inline datos-servers">
                  <div class="p-field conexion"
                       *ngFor=" let servidor of updateLectorCron.servers; let i=index">
                    <p>{{servidor.tipo_conexion == 'MySql' ? 'MySql:' : servidor.tipo_conexion ==
                    'PostgreSql' ? 'PostgreSql:' : 'SSH:'}}</p>
                    <div>
                                            <span class="p-float-label">
                                                <input id="puerto" type="number" class="p-inputtext-sm" pInputText
                                                       #puerto name="{{servidor.id+'_puerto'}}" required (focusout)="validaConnsServidorUpdate(servidor.puerto, servidor.id, servidor.tipo_conexion)"
                                                       [(ngModel)]="servidor.puerto" >
                                                <label for="{{servidor.id+'_puerto'}}">Puerto</label>
                                            </span>
                    </div>
                    <span class="p-float-label">
                                            <input id="usuario" type="text" class="p-inputtext-sm" pInputText #usuario
                                                   name="{{servidor.id+'_usuario'}}" required (focusout)="validaConnsServidorUpdate(servidor.usuario, servidor.id, servidor.tipo_conexion)"
                                                   [(ngModel)]="servidor.usuario" >
                                            <label for="{{servidor.id+'_usuario'}}">Usuario</label>
                                        </span>
                    <span class="p-float-label">
                                            <input id="password" type="password" class="p-inputtext-sm" pInputText
                                                   #password name="{{servidor.id+'_password'}}" required (ngModelChange)="validaConnsServidorUpdate(servidor.password, servidor.id, servidor.tipo_conexion)"
                                                   [(ngModel)]="servidor.password" >
                                            <label for="{{servidor.id+'_password'}}">Password</label>
                                        </span>
                    <div *ngIf="servidor.tipo_conexion == 'MySql'" style="margin-top: 1rem;">
                      <label class="centralizado"
                             for="{{servidor.id+'_centraliza'}}">Centralizado:</label>
                      <p-checkbox name="group2" inputId="{{servidor.id+'_centraliza'}}"
                                  [binary]="true" [(ngModel)]="servidor.centraliza">
                      </p-checkbox>
                    </div>
                  </div>
                </div>
              </div>-->
            </form>
          </div>
          <div *ngIf="!insert" style="margin-top: 1.5rem;">

            <div class="p-formgroup-inline">
              <div class="p-field p-fluid">
                                    <span class="p-float-label">
                                        <input id="nombre" type="text" pInputText #nombre="ngModel"
                                               class="p-inputtext-sm" minlength="4" (focusout)="validaLectorCronUpdate()"
                                               name="nombre" [(ngModel)]="updateLectorCron.nombre">
                                        <label for="nombre">Nombre del server</label>
                                    </span>
              </div>
              <div class="ui-grid-col-12">
                                    <span class="p-float-label">
                                        <p-dropdown  [style]="{'width':'180px'}" [options]="brands" #estado class="p-inputtext-sm" name="estado"
                                                    placeholder='&nbsp;' optionLabel="label" [(ngModel)]="estadoInsert"
                                                    (onChange)="updateLectorCron.estado = estado.value.value; validaLectorCronUpdate()">
                                        </p-dropdown>
                                        <label for="estado">Seleccionar estado</label>
                                    </span>
              </div>


            </div>
            <form role="form" #myForm="ngForm" class="p-d-flex p-flex-column" [formGroup]="lectorCronInsertform">
              <p-message severity="error" text="{{msj}}" *ngIf="errorGral"></p-message>
              <!--<p-message severity="error" text="La clave color/talla es requerido"
                         *ngIf="!lectorCronInsertform.controls['nombre'].valid&&lectorCronInsertform.controls['nombre'].dirty">
              </p-message>-->
              <div class="overflow-auto" style="max-width: 30% !important; margin-left: auto; margin-right: auto; margin-top: 1rem">


                  <div class="overflow-auto">
                    <p-table [columns]="colsInsert" [value]="insertLectorCronHoras" [metaKeySelection]="true" selectionMode="single"
                             [(selection)]="selectedAlerta" dataKey="id" [scrollable]="false" scrollHeight="500px"
                             [resizableColumns]="true" autoLayout="true" styleClass="p-datatable-sm">

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" [style.width]="col.width">
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                         <!-- <th *ngFor="let col of columns; let i = index">
                            {{col.header}}
                          </th>-->
                          <th >Id</th>
                          <th >Horas</th>
                          <th style="width: 8em;">Acciones</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                        <tr [pSelectableRow]="rowData">

                          <td style="width: 40px;">
                            {{rowData.id}}
                          </td>

                          <!--<td
                            pTooltip="{{rowData.nombre.length < 3 ? 'El nombre debe ser de minimo 3 caracteres' : ''}}{{validaNombre(rowData.nombre) ? msj : '' }}"
                            tooltipZIndex="10000000000" pEditableColumn
                            class="{{ rowData.nombre.length < 3 ||  validaNombre(rowData.nombre) ? 'error': ''}}">
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.nombre"
                                       [ngModelOptions]="{standalone: true}" (focusout)="validaInsertArray();">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.nombre}}
                              </ng-template>
                            </p-cellEditor>
                          </td>-->

                          <!--<td pTooltip="{{rowData.estado === '' ? 'El estado es ogligatorio' : ''}}"
                              tooltipZIndex="10000000000" pEditableColumn class="{{ rowData.estado === '' ? 'error': ''}}">
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <p-dropdown [options]="brands" formControlName="estado" [(ngModel)]="rowData.estado"
                                            appendTo="body" placeholder="Seleccionar" [baseZIndex]="10000" [style]="{'width':'100%'}">
                                </p-dropdown>
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{ rowData.estado ===1? "Activo":rowData.estado ===1?"Desactivado":"" }}
                              </ng-template>
                            </p-cellEditor>
                          </td>-->
                          <td
                            pTooltip="{{rowData.hora === '' ? 'La hora es obligatoria' : ''}}"
                            tooltipZIndex="10000000000" pEditableColumn
                            class="{{ rowData.hora === '' ? 'error': ''}}">
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input pInputText type="time" [(ngModel)]="rowData.hora"
                                       [ngModelOptions]="{standalone: true}" (focusout)="validaInsertArray()" (ngModelChange)="insertButtonStatus=false">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData.hora}}
                              </ng-template>
                            </p-cellEditor>
                          </td>

                          <!--<td pTooltip="{{rowData.tipo_hora === '' ? 'El tipo de hora es ogligatorio' : ''}}"
                              tooltipZIndex="10000000000" pEditableColumn class="{{ rowData.tipo_hora === '' ? 'error': ''}}">
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <p-dropdown [options]="tipos_horas" formControlName="tipo_hora" [(ngModel)]="rowData.tipo_hora"
                                            appendTo="body" placeholder="Seleccionar" [baseZIndex]="10000" [style]="{'width':'100%'}">
                                </p-dropdown>
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{ rowData.tipo_hora ==='lapso'? "Por lapso":rowData.tipo_hora ==='hora'?'Por hora':"" }}
                              </ng-template>
                            </p-cellEditor>
                          </td>-->

                          <td style="width: 8em; text-align: center;">
                            <button pButton type="button" icon="pi pi-times" class="p-button-danger p-button-sm"
                                    (click)="removeRow(rowData.id);"></button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>

              </div>
              <!--<div class="p-formgroup-inline">
                <div class="p-field conexion" *ngFor="let conexion of conexiones_disp">
                  <p-checkbox name="group1" value="{{conexion.value}}" inputId="{{conexion.value}}"
                              [(ngModel)]="conexiones"
                              (onChange)="addConnUpdate($event.checked, conexion.value)"></p-checkbox>
                  <label class="label-check" for="{{conexion.value}}">{{conexion.label}}</label>
                </div>
              </div>
              <div class="p-formgroup-inline">
                <div class="p-formgroup-inline datos-servers">
                  <div class="p-field conexion"
                       *ngFor=" let servidor of updateLectorCron.servers; let i=index">
                    <p>{{servidor.tipo_conexion == 'MySql' ? 'MySql:' : servidor.tipo_conexion ==
                    'PostgreSql' ? 'PostgreSql:' : 'SSH:'}}</p>
                    <div>
                                            <span class="p-float-label">
                                                <input id="puerto" type="number" class="p-inputtext-sm" pInputText
                                                       #puerto name="{{servidor.id+'_puerto'}}" required (focusout)="validaConnsServidorUpdate(servidor.puerto, servidor.id, servidor.tipo_conexion)"
                                                       [(ngModel)]="servidor.puerto" >
                                                <label for="{{servidor.id+'_puerto'}}">Puerto</label>
                                            </span>
                    </div>
                    <span class="p-float-label">
                                            <input id="usuario" type="text" class="p-inputtext-sm" pInputText #usuario
                                                   name="{{servidor.id+'_usuario'}}" required (focusout)="validaConnsServidorUpdate(servidor.usuario, servidor.id, servidor.tipo_conexion)"
                                                   [(ngModel)]="servidor.usuario" >
                                            <label for="{{servidor.id+'_usuario'}}">Usuario</label>
                                        </span>
                    <span class="p-float-label">
                                            <input id="password" type="password" class="p-inputtext-sm" pInputText
                                                   #password name="{{servidor.id+'_password'}}" required (ngModelChange)="validaConnsServidorUpdate(servidor.password, servidor.id, servidor.tipo_conexion)"
                                                   [(ngModel)]="servidor.password" >
                                            <label for="{{servidor.id+'_password'}}">Password</label>
                                        </span>
                    <div *ngIf="servidor.tipo_conexion == 'MySql'" style="margin-top: 1rem;">
                      <label class="centralizado"
                             for="{{servidor.id+'_centraliza'}}">Centralizado:</label>
                      <p-checkbox name="group2" inputId="{{servidor.id+'_centraliza'}}"
                                  [binary]="true" [(ngModel)]="servidor.centraliza">
                      </p-checkbox>
                    </div>
                  </div>
                </div>
              </div>-->
            </form>
          </div>

          <br>
        </p-dialog>

      </div>


      <!-- TERMINA MODAL PARA AGREGAR NUEVOS ROWS-->

    </div>
  </sb-layout-dashboard>
  <p-toast [baseZIndex]="300000" position="top-center" key="tc"></p-toast>
</div>
