<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="assets/img/logotipo.png" class="user-avatar img-circle img-responsive" />
      <h1> <br /> <img style="width: 150px" src="assets/img/logo.png" alt="logo"><br /><small>Centralización</small></h1>
    </div>
  </div>

  <div class="form-content">

    <div class="card-login" >
      <div style="text-align: center">
        <p>CREAR CUENTA</p>
        <br>
      </div>
      <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="enviar(f)">
        <div class="table-form">
          <div class="form-groups">
            <div class="p-fluid">
              <div class="p-field form-group">
                <span class="p-float-label ">
                    <input id="nombre" #name="ngModel"  class="p-inputtext-sm" type="text" pInputText
                           [(ngModel)]="usuario.nombre"
                           name="nombre"
                           required>
                    <label for="nombre">Nombre Completo</label>
                </span>
                <div *ngIf="name.invalid && (name.dirty || name.touched)"  id="nombre_error" class="p-invalid">
                  <small *ngIf="usuario.nombre !== undefined && name.errors.required">Ingrese su nombre</small>
                </div>
              </div>
              <div class="p-field form-group">
                <span class="p-float-label ">
                    <input id="correo" #email="ngModel"  class="p-inputtext-sm" type="email" pInputText
                           [(ngModel)]="usuario.email"
                           name="email"
                           required
                           minlength="4"
                           pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                    <label for="correo">Correo electrónico</label>
                </span>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" id="correo_error" class="p-invalid">
                  <small *ngIf="usuario.email !== undefined && email.errors.required">Ingrese un correo</small>
                  <small *ngIf="email.errors.pattern">Ingrese un correo valido</small>
                </div>
              </div>
              <div class="p-field form-group">
                <span class="p-float-label ">
                    <input id="contraseña" #password="ngModel" class="p-inputtext-sm" pPassword type="password"
                           promptLabel="Escribir contraseña"
                           weakLabel="Debil"
                           mediumLabel="Intermedia"
                           strongLabel="Fuerte"
                           [(ngModel)]="usuario.password"
                           name="password"
                           required
                           minlength="8">
                    <label for="password">Contrase&ntilde;a</label>
                </span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" id="pass_error" class="p-invalid">
                  <small *ngIf="password.errors.minlength">Minimo 8 caracteres</small>
                  <small *ngIf="usuario.password !== undefined && password.errors.required">Ingrese una contrase&ntilde;a</small>
                </div>
              </div>
              <div class="p-field form-group">
                <span class="p-float-label ">
                    <input id="confirmCont" #c_password="ngModel" class="p-inputtext-sm" pPassword type="password"
                           promptLabel="Confirmar contraseña"
                           weakLabel="Debil"
                           mediumLabel="Intermedia"
                           strongLabel="Fuerte"
                           [(ngModel)]="usuario.confirm_password"
                           name="c_password"
                           required
                           minlength="8"
                    >
                    <label for="c_password">Confirma contraseña</label>
                </span>
                <div *ngIf="c_password.invalid && (c_password.dirty || c_password.touched)" id="conf_pass_error" class="p-invalid">
                  <small *ngIf="usuario.password!==usuario.confirm_password">La contrase&ntilde;a no coincide</small>
                  <small *ngIf="c_password.errors.minlength">Minimo 8 caracteres</small>
                  <small *ngIf="usuario.confirm_password !== undefined && c_password.errors.required">Vuelva a ingresar la contrase&ntilde;a</small>
                </div>
              </div>
            </div>

            <div class="button-container">
              <button [disabled]="(usuario.confirm_password == undefined) || f.invalid" pButton pRipple type="submit" label="Enviar" class="p-button-outlined p-button-secondary" ></button>
            </div>
          </div>

        </div>
        <div class="links">
          <span routerLink='/login' routerLinkActive="router-link-active" class="pass pointer">Iniciar sesi&oacute;n</span>
        </div>

      </form>
    </div>
    <app-loading *ngIf="cargando"></app-loading>
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

</div>
