<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home"><img src="assets/img/logo.png" alt="logo" style="width: 150px"></a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()"><fa-icon [icon]='["fas", "bars"]'></fa-icon></button
    ><!-- Navbar Search-->

      <div style="margin-left: auto; margin-right: auto; color: white; font-size: 1.4rem">
        Administrador  -  {{FechaMostrar}}
      </div>

    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <sb-top-nav-user></sb-top-nav-user>
    </ul>
</nav>
