.tablas .scrollH{
    overflow-y: hidden;
    overflow-x: auto;
}

.scrollH{
    display: flex;
    justify-content: space-between;
}

.errores{
    position: relative;
}

.errorButton{
    position: absolute;
    left: 34rem;
    top: 0.855rem;
}

::ng-deep .p-chips{
    height: 2rem;
}

::ng-deep .p-chips-token{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    background: #28a745 !important;
    height: 1.2rem;
}

::ng-deep .p-chips-token-label{
    padding-top: .2rem;
}

.table-header{
    background-color: #4472C4 !important;
    color: white !important;
}

.table-body{
    background-color: #8EA9DB !important;
    color: black !important;
}

.liber-ambientes ::ng-deep .p-inputtext {
    color: black !important;
}

.liber-ambientes ::ng-deep .p-datatable {
    font-size: 12px !important;
}

.liber-ambientes ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border: solid 1px black !important;
    padding: 0.1rem 0.5rem !important;
    height: 21px;
}

.liber-ambientes ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    border: solid 1px black !important;
    padding: 0.1rem 0.5rem !important;
}

.liber-ambientes ::ng-deep .p-datatable table {
    width: 101% !important;
}

.table-body-fin{
    background-color: #C6EFCE !important;
    border: solid 0.5px white !important;
    color: #006100 !important;
}

.table-body-error{
    background-color: #FFC7CE !important;
    border: solid 0.5px white !important;
    color: #9C0006 !important;
}

.liber-ambientes ::ng-deep .p-progressbar .p-progressbar-value {
    background: #28a745 !important;
}

.liber-ambientes ::ng-deep .error_bar .p-progressbar .p-progressbar-value {
    background: #dc3545 !important;
}

.liber-ambientes ::ng-deep .p-button.p-button-success:enabled:hover, .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover {
    background: #218838;
    color: #ffffff;
    border-color: #1e7e34;
}

.liber-ambientes ::ng-deep .p-button.p-button-success:enabled:active, .p-buttonset.p-button-success > .p-button:enabled:active, .p-splitbutton.p-button-success > .p-button:enabled:active {
    background: #28a745;
    color: #ffffff;
    border-color: #28a745;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
    color: #ffffff;
    background: #28a745;
    border: 1px solid #28a745;
}

.liber-ambientes ::ng-deep .p-float-label > label {
    color: black;
}