<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="assets/img/logotipo.png" class="user-avatar img-circle img-responsive" />
      <h1> <br /> <img style="width: 150px" src="assets/img/logo.png" alt="logo"><br /><small>Centralización</small>
      </h1>
    </div>
  </div>

  <div class="form-content">

    <div class="card-login">
      <div style="text-align: center">
        <p>INICIAR SESIÓN</p>
        <br>
      </div>
      <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="iniciarSesion(f)">
        <div class="table-form">
          <div class="form-groups">
            <div class="p-fluid">
              <div class="p-field form-group">
                <span class="p-float-label">
                  <input id="correo" #email="ngModel" class="p-inputtext-sm" type="text" pInputText
                    [(ngModel)]="usuario.email" name="email" required minlength="4"
                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                  <label for="correo">Correo electrónico</label>
                </span>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" id="correo_error" class="p-invalid">
                  <small *ngIf="usuario.email !== undefined && email.errors.required">Ingrese un correo</small>
                  <small *ngIf="email.errors.pattern">Ingrese un correo valido</small>
                </div>
              </div>
              <div class="p-field form-group">
                <span class="p-float-label ">
                  <input id="contraseña" #password="ngModel" class="p-inputtext-sm" pPassword type="password"
                    [feedback]='false' promptLabel="Escribir contraseña" [(ngModel)]="usuario.password" name="password"
                    required minlength="8">
                  <label for="contraseña">Contraseña</label>
                </span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" id="pass_error" class="p-invalid">
                  <small *ngIf="password.errors.minlength">Mínimo 8 caracteres</small>
                  <small *ngIf="usuario.password !== undefined && password.errors.required">Ingrese una
                    contrase&ntilde;a</small>
                </div>
              </div>
              <div id="buttons-div" class="p-field form-group">
                <p-fileUpload chooseLabel="Seleccionar key" [showUploadButton]='false'
                  [showCancelButton]='cancelar'
                  cancelLabel="" class="fileButton" name="demo[]"
                  invalidFileTypeMessageSummary="El tipo de archivo es incorrecto"
                  accept=".pem" maxFileSize="1000000"
                  (onSelect)="loadFile($event)" (onClear)='borrar()' (click)='focoLogin()'>
                </p-fileUpload>

                <div id="submit-div" class="button-container">
                  <button [disabled]="usuario.private_key == undefined || (!email.dirty || !password.dirty)" pButton
                    pRipple type="submit" label="Iniciar Sesión" class="p-button-outlined p-button-secondary" id="button_login"></button>
                </div>
                <small *ngIf="usuario.private_key!== undefined && usuario.private_key.length<0" id="key_error"
                  class="p-invalid">Cargar archivo .pem</small>
              </div>
            </div>
          </div>
        </div>

        <div class="links">
          <span routerLink='/signup' routerLinkActive="router-link-active" class="pass pointer">Registrarse</span>
          <span routerLink='/reset-key' routerLinkActive="router-link-active" class="pass pointer">Recuperar key</span>
        </div>

      </form>
    </div>
    <app-loading *ngIf="cargando"></app-loading>
    <p-toast position="top-center" key="tc"></p-toast>
  </div>
</div>