.content-servidor ::ng-deep .p-grid {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td.error {
    color: red !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr.errorList {
    color: red !important;
}

::ng-deep .p-datatable.thead {
    font-size: 1rem;
}

.conexion{
    width: 13rem;
    margin-right: 1rem;
}

::ng-deep .p-formgroup-inline .conexion:first-child{
    padding-left: 0;
}

::ng-deep .p-formgroup-inline .p-field:last-child, .conexion:last-child{
    margin-right: 0;
}

.update-form{
    margin-bottom: 1rem;
}

.label-check{
    margin-left: .5rem;
    margin-right: 0;
    margin-bottom: 0;
}

.datos-servers{
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

.datos-servers span{
    margin-right: 1rem;
    margin-top: 1.5rem;
}

::ng-deep .p-dialog input{
    width: 13rem;
}

:host ::ng-deep .p-dropdown {
    width: 13rem;
}

.centralizado{
    margin-left: 0rem;
    margin-right: .5rem;
    margin-bottom: 0;
}

/* tabla */

.tabla-principal {
    margin-top: 1rem;
}

.selectDB{
    display: block;
    width: 13rem;
    height: 2.2rem;
    border: 1px solid #adadad;
    background-color: #fff;
}


/* heders */

.acciones {
    display: flex;
    justify-content: space-between;
}


/* paginacion */

::ng-deep .p-paginator-bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.label-db{
    top: -0.75rem;
    font-size: 12px;
}