<div>

    <sb-layout-dashboard>
        <sb-dashboard-head title="Servidores" [hideBreadcrumbs]="true"></sb-dashboard-head>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-success"
            acceptLabel='Sí' acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
        <div class="content-servidor implementation">

            <!-- INICIA HEADER BUSCADORES Y BOTONES CRUD-->
            <div class="p-grid" style="margin-top: 0;">
                <div class="p-col-3" style="margin-left: -0.5rem;  ">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columnas seleccionadas" maxSelectedLabels="2"
                        [style]="{minWidth: '200px', maxHeight: '37px' }" defaultLabel="Seleccionar columnas">
                    </p-multiSelect>
                </div>

                <div class="p-col-3">
                    <div class="p-inputgroup" style="max-height: 37px">
                        <input class="p-inputtext-sm" type="text" pInputText (keyup.enter)="buscarDatos()"
                            id="buscarElemento" placeholder="Buscar por clave, descripción..."
                            pTooltip="No se aceptan caracteres especiales, verificar acentos" tooltipPosition="top">
                        <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"
                            (click)="buscarDatos()"></button>
                    </div>
                </div>

                <div class="" style="margin-left: auto; margin-top: auto; margin-bottom: auto">
                    <div class="ui-inputgroup" style="float: right;">
                        <button pButton type="button" icon="pi pi-plus" class="p-button-sm btn-primary"
                            style="width: 110px" label="Añadir" (click)="callFormInsert();"></button> &nbsp;
                        <button pButton type="button" icon="pi pi-times" class="p-button-sm p-button-danger"
                            [disabled]="!selectedServidor || !selectedServidor.length" style="width: 110px"
                            label="Eliminar" (click)="toBorrarServers();"></button> &nbsp;
                        <button pButton type="button" icon="pi pi-check"
                            class="p-button-sm p-button-success p-button-sm pull-right"
                            [disabled]="updateTableButtonStatus" style="width: 110px" label="Guardar"
                            (click)="toUpdateServers()"></button>
                    </div>
                </div>
            </div>

            <!-- TERMINA HEADER BUSCADORES Y BOTONES CRUD-->

            <!-- INICIA TABLA DE CONTENIDO-->
            <div class="tabla-principal">
                <form [formGroup]="servidorForm">
                    <p-message severity="error" text="La clave nombre es requerido"
                        *ngIf="!servidorForm.controls['nombre'].valid&&servidorForm.controls['nombre'].dirty">
                    </p-message>
                    <p-table [columns]="selectedColumns" [(selection)]="selectedServidor" [rows]="10" [paginator]="true"
                        [value]="servidorList" [resizableColumns]="true" scrollHeight="500px"
                        [rowsPerPageOptions]="[10,20,30,50,100]" styleClass="p-datatable-sm" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th *ngIf="userCanDelete == 1" style="width: 8.5rem">
                                    <p style="margin-bottom: 0;">Acciones</p>
                                </th>
                                <th *ngIf="userCanDelete == 1" style="width: 2.7rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i"
                                *ngIf="userCanEdit == 1 && userCanRead == 1 && servidorList.length > 0">
                                <td pEditableColumn *ngFor="let col of columns">
                                    <p-cellEditor
                                        pTooltip="{{rowData.producto === '' ? 'El producto es obligatorio' : ''}}"
                                        *ngIf="col.field == 'producto'"
                                        class="{{rowData.producto === '' ? 'errorList' : ''}}">
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="brands" formControlName="producto"
                                                [(ngModel)]="rowData.producto" #producto appendTo="body"
                                                (onChange)="onBlurMethod('producto', rowData.id, rowData[col.field], rowData); p_mostrarRow(rowData)">
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.producto == 'girha' ? 'Girha' : (rowData.producto == 'liber' ?
                                            'Liber' : (rowData.producto == 'mi_asistencia' ? 'Mi Asistencia' : (rowData.producto == 'biotime_cloud' ? 'BioTime Cloud' : '')))}}
                                        </ng-template>
                                    </p-cellEditor>
                                    <p-cellEditor *ngIf="col.field == 'nombre'" #ifBlock
                                        pTooltip="{{rowData.nombre.length < 3 ? 'El nombre debe ser de mínimo 3 caracteres' : ''}}{{rowData.error ? 'Nombre repetido' : '' }}"
                                        class="{{ rowData.nombre.length < 3 || rowData.error ? 'errorList': ''}}">
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" formControlName="nombre"
                                                [(ngModel)]="rowData.nombre"
                                                (keyup)="onBlurMethod(col.field, rowData.id, rowData.nombre, rowData);">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.nombre}}
                                        </ng-template>
                                    </p-cellEditor>

                                    <p-cellEditor
                                        pTooltip="{{!(validaIp(rowData.ip_publica)) ? 'Debe tener el formato 255.255.255.255' : ''}}"
                                        *ngIf="col.field == 'ip_publica'"
                                        class="{{ !(validaIp(rowData.ip_publica)) ? 'errorList': ''}}">
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" formControlName="ip_publica"
                                                [(ngModel)]="rowData.ip_publica"
                                                (keyup)="onBlurMethod(col.field, rowData.id, rowData.ip_publica, rowData); pruebas(rowData)">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.ip_publica}}
                                        </ng-template>
                                    </p-cellEditor>
                                    <p-cellEditor
                                        pTooltip="{{!(validaIp(rowData.ip_local)) ? 'Debe tener el formato 255.255.255.255' : ''}}"
                                        *ngIf="col.field == 'ip_local'"
                                        class="{{ !(validaIp(rowData.ip_local)) ? 'errorList': ''}}">
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" formControlName="ip_local"
                                                [(ngModel)]="rowData.ip_local"
                                                (keyup)="onBlurMethod(col.field, rowData.id, rowData.ip_local, rowData);">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.ip_local}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td *ngIf="userCanDelete == 1" style="width: 8.5rem">
                                    <div class="p-jc-center p-ai-center">
                                        <button pButton type="button" style="margin-left: 10px; margin-right: .5rem;"
                                            icon="pi pi-times" class="p-button-danger p-button-sm"
                                            (click)="deleteIndividualRow(rowData.id);"></button>
                                        <button pButton type="button" style="margin-left: 10px; margin-right: .5rem;"
                                            icon="pi pi-pencil" class="p-button-sm"
                                            (click)="callFormUpdate(rowData);"></button>
                                    </div>
                                </td>
                                <td *ngIf="userCanDelete == 1" style="width: 2.7rem">
                                    <div class="p-jc-center p-ai-center">
                                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr *ngIf="servidorList.length == 0">
                                <td style="text-align: center" colspan="9">No hay datos disponibles</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </form>
            </div>

            <!-- TERMINA TABLA DE CONTENIDO-->

            <!-- INICIA MODAL PARA AGREGAR NUEVOS ROWS-->
            <div *ngIf="formulario">
                <!--   -->
                <p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [maximizable]="true"
                    [style]="{width: '71%', minWidth: '72%'}" [baseZIndex]="1000"
                    [contentStyle]="{'max-height': '100%','min-height':'360px'}" [closable]="false">
                    <br>
                    <div class="p-d-flex p-jc-between">
                        <div *ngIf="insert">
                            <h2>Agregar servidores:</h2>
                        </div>
                        <div *ngIf="!insert">
                            <h2>Actualizar servidor:</h2>
                        </div>
                        <div align="right" style="padding-right: 1rem;">
                            <button style="margin-left: 5px" pButton [disabled]="cerrarInsertButtonStatus" type="button"
                                icon="pi pi-times" class="p-button-sm p-button-danger" (click)="close();"
                                label="Cerrar"></button>
                            <button *ngIf="insert" style="margin-left: 5px" pButton type="button"
                                [disabled]="insertButtonStatus || insertServidor.servers.length==0" icon="pi pi-check"
                                class="p-button-success p-button-sm pull-right" (click)="store()"
                                label="Guardar"></button>
                                <!--  -->
                            <button *ngIf="!insert" style="margin-left: 5px" pButton type="button" icon="pi pi-check"
                                class="p-button-sm pull-right" [disabled]="updateDialogButtonStatus || updateServidor.servers.length==0"
                                (click)="toUpdateConnsServer()" label="Guardar"></button>
                        </div>
                    </div>
                    <div *ngIf="insert" style="margin-top: 1.5rem;">
                        <form role="form" #myForm="ngForm" class="p-d-flex p-flex-column">
                            <div class="p-formgroup-inline">
                                <div class="p-field p-fluid">
                                    <span class="p-float-label">
                                        <p-dropdown [options]="brands" #producto class="p-inputtext-sm" name="producto"
                                            placeholder='&nbsp;' optionLabel="label" [(ngModel)]="productoInsert"
                                            (onChange)="insertServidor.producto = producto.value.value">
                                        </p-dropdown>
                                        <label for="producto">Seleccionar producto</label>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="p-float-label" #ipP>
                                        <input id="IP_Publica" type="text" pInputText #ip_publica="ngModel"
                                            [disabled]="conexiones.length>0"
                                            pTooltip="{{!(validaIp(insertServidor.ip_publica)) ? 'Debe tener el formato 255.255.255.255' : ''}}"
                                            tooltipPosition="top"
                                            class="p-inputtext-sm {{insertServidor.ip_publica !== undefined && !(validaIp(insertServidor.ip_publica)) ? 'ng-invalid ng-dirty' : ''}}"
                                            [appendTo]="ipP" name="IP_Publica" [(ngModel)]="insertServidor.ip_publica">
                                        <label for="IP_Publica">IP Publica</label>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="p-float-label" #ipL>
                                        <input id="IP_Local" type="text" pInputText #ip_local="ngModel"
                                            [disabled]="conexiones.length>0"
                                            pTooltip="{{!(validaIp(insertServidor.ip_local)) ? 'Debe tener el formato 255.255.255.255' : ''}}"
                                            tooltipPosition="top"
                                            class="p-inputtext-sm {{insertServidor.ip_local !==undefined && !(validaIp(insertServidor.ip_local)) ? 'ng-invalid ng-dirty' : ''}}"
                                            [appendTo]="ipL" name="IP_Local" [(ngModel)]="insertServidor.ip_local">
                                        <label for="IP_Local">IP Local</label>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="p-float-label">
                                        <input id="nombre" type="text" pInputText #nombre="ngModel"
                                            [disabled]="conexiones.length>0" class="p-inputtext-sm" minlength="4"
                                            name="nombre" [(ngModel)]="insertServidor.nombre" (focusout)="validaNombre(insertServidor.nombre)">
                                        <label for="nombre">Nombre del server</label>
                                    </span>
                                </div>
                            </div>
                            <div class="p-formgroup-inline"
                                *ngIf="insertServidor.producto != undefined && validaIp(insertServidor.ip_publica) && validaIp(insertServidor.ip_local) && insertServidor.nombre !== undefined">
                                <div class="p-field conexion" *ngFor="let conexion of conexiones_disp">
                                    <p-checkbox name="group1" value="{{conexion.value}}" inputId="{{conexion.value}}"
                                        [(ngModel)]="conexiones"
                                        (onChange)="addConnInsert(insertServidor.producto, $event.checked, conexion.value, insertServidor)"></p-checkbox>
                                    <label class="label-check" for="{{conexion.value}}">{{conexion.label}}</label>
                                </div>
                            </div>
                            <div class="p-formgroup-inline">
                                <div class="p-formgroup-inline datos-servers">
                                    <div class="p-field conexion"
                                        *ngFor=" let servidor of insertServidor.servers; let i=index">
                                        <p>{{servidor.tipo_conexion == 'MySql' ? 'MySql:' : servidor.tipo_conexion ==
                                            'PostgreSql' ? 'PostgreSql' : 'SSH'}}</p>
                                        <div>
                                            <span class="p-float-label">
                                                <input id="puerto" type="number" class="p-inputtext-sm" pInputText
                                                    #puerto name="{{servidor.id+'_puerto'}}" required
                                                    [(ngModel)]="servidor.puerto" (focusout)="validaInsertArray()">
                                                <label for="{{servidor.id+'_puerto'}}">Puerto</label>
                                            </span>
                                        </div>
                                        <span class="p-float-label">
                                            <input id="usuario" type="text" class="p-inputtext-sm" pInputText #usuario
                                                name="{{servidor.id+'_usuario'}}" required
                                                [(ngModel)]="servidor.usuario" (focusout)="validaInsertArray()">
                                            <label for="{{servidor.id+'_usuario'}}">Usuario</label>
                                        </span>
                                        <span *ngIf="servidor.tipo_conexion == 'SSH'" class="p-float-label">
                                            <p-dropdown [options]="opcionSsh" #tipoPass class="p-inputtext-sm" name="producto"
                                                        placeholder='&nbsp;' optionLabel="label" [(ngModel)]="tipoPassSsh"
                                                        (onChange)="servidor.tipoPassSsh = tipoPassSsh.value; validaInsertArray()">
                                            </p-dropdown>
                                            <label for="tipoPassSsh">Seleccionar tipo password</label>
                                        </span>
                                        <span *ngIf="(servidor.tipo_conexion == 'SSH' && tipoPassSsh.value=='password')|| servidor.tipo_conexion != 'SSH'"  class="p-float-label">
                                            <input id="password" type="password" class="p-inputtext-sm" pInputText
                                                #password name="{{servidor.id+'_password'}}" required
                                                [(ngModel)]="servidor.password" (ngModelChange)="validaInsertArray()">
                                            <label for="{{servidor.id+'_password'}}">Password</label>
                                        </span>
                                      <div *ngIf="servidor.tipo_conexion == 'SSH' && tipoPassSsh.value=='key'" style="margin-top: 1rem;">

                                        <p-fileUpload #fubauto mode="basic"
                                                      name="demo[]"
                                                      [showCancelButton]='cancelar'
                                                      accept=".pem"
                                                      maxFileSize="1000000"
                                                      (onSelect)="loadFile($event,servidor)"
                                                      (onClear)='borrar(servidor)'
                                                      [showUploadButton]='false'
                                                      chooseLabel="Selec. private key"></p-fileUpload>
                                      </div>

                                        <div class="p-field p-fluid" *ngIf="insertServidor.producto == 'mi_asistencia' && servidor.tipo_conexion == 'MySql' && servidor.centraliza == true">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="productAsistencia" class="p-inputtext-sm" name="subproducto"
                                                    placeholder='&nbsp;' optionLabel="label" [(ngModel)]="servidor.producto" (onChange)="validaCentral()">
                                                </p-dropdown>
                                                <label for="producto">Seleccione el producto</label>
                                            </span>
                                        </div>

                                        <div *ngIf="(servidor.tipo_conexion == 'MySql' && servidor.centraliza == true && servidor.password.length > 0)" class="p-field p-fluid">
                                            <span class="p-float-label">
                                                <!--    Inicio Girha    -->
                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validador()" *ngIf="producto.value.value == 'girha'">
                                                    <option value="">Base de datos</option>
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>
                                                <!--    Fin Girha    -->

                                                <!--    Inicio Mi Asistencia    -->
                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validador()" *ngIf="producto.value.value == 'mi_asistencia' && servidor.producto.value == 'mi_asistencia'">
                                                    <option value="">Base de datos</option>
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>

                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validador()" *ngIf="producto.value.value == 'mi_asistencia' && servidor.producto.value == 'mi_asistencia_hik'">
                                                    <option value="">Base de datos</option>
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>

                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validador()" *ngIf="producto.value.value == 'mi_asistencia' && servidor.producto.value == 'cloudclock'">
                                                    <option value="">Base de datos</option>
                                                    <option *ngFor="let db of dbList" [value]="''+db.id">{{db.id}}</option>
                                                </select>
                                                <!--    Fin Mi Asistencia    -->

                                                <!--    Inicio BioTime Cloud    -->
                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validador()" *ngIf="producto.value.value == 'biotime_cloud'">
                                                    <option value="">Base de datos</option>
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>
                                                <!--    Fin BioTime Cloud    -->

                                                <label for="dbcentra" class="label-db">Base de datos central</label>
                                            </span>
                                        </div>

                                        <div *ngIf="servidor.tipo_conexion == 'MySql' && producto.value.value != 'mi_asistencia'" style="margin-top: 1rem;">
                                            <label class="centralizado"
                                                for="{{servidor.id+'_centraliza'}}">Centralizado:</label>
                                            <p-checkbox name="group2" inputId="{{servidor.id+'_centraliza'}}"
                                                [binary]="true" [(ngModel)]="servidor.centraliza"
                                                (onChange)="validaCentraliza(insertServidor,servidor.id,1, servidor.dbcentral)" (focusin)="validaCentral()">
                                            </p-checkbox>
                                        </div>

                                        <div *ngIf="servidor.tipo_conexion == 'MySql' && producto.value.value == 'mi_asistencia'" style="margin-top: 1rem;">
                                            <label class="centralizado"
                                                for="{{servidor.id+'_centraliza'}}">Centralizado:</label>
                                            <p-checkbox name="group2" inputId="{{servidor.id+'_centraliza'}}"
                                                [binary]="true" [(ngModel)]="servidor.centraliza"
                                                (onChange)="validaCentraliza(insertServidor,servidor.id,1, servidor.dbcentral)" (focusin)="validador()">
                                            </p-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="!insert" style="margin-top: 1.5rem;">
                        <form role="form" #myForm="ngForm" class="p-d-flex p-flex-column"  >
                            <div class="p-formgroup-inline">
                                <div class="p-field p-fluid">
                                    <span class="p-float-label">
                                        <p-dropdown [options]="brands" #producto class="p-inputtext-sm" name="producto"
                                            placeholder='&nbsp;' optionLabel="label" [(ngModel)]="productoInsert"
                                            (onChange)="updateServidor.producto = producto.value.value; validaServidorUpdate()">
                                        </p-dropdown>
                                        <label for="producto">Seleccionar producto</label>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="p-float-label" #ipP>
                                        <input id="IP_Publica" type="text" pInputText #ip_publica="ngModel"
                                            pTooltip="{{!(validaIp(updateServidor.ip_publica)) ? 'Debe tener el formato 255.255.255.255' : ''}}"
                                            tooltipPosition="top" (focusout)="validaServidorUpdate()"
                                            class="p-inputtext-sm {{updateServidor.ip_publica !== undefined && !(validaIp(updateServidor.ip_publica)) ? 'ng-invalid ng-dirty' : ''}}"
                                            [appendTo]="ipP" name="IP_Publica" [(ngModel)]="updateServidor.ip_publica">
                                        <label for="IP_Publica">IP Publica</label>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="p-float-label" #ipL>
                                        <input id="IP_Local" type="text" pInputText #ip_local="ngModel"
                                            pTooltip="{{!(validaIp(updateServidor.ip_local)) ? 'Debe tener el formato 255.255.255.255' : ''}}"
                                            tooltipPosition="top" (focusout)="validaServidorUpdate()"
                                            class="p-inputtext-sm {{updateServidor.ip_local !==undefined && !(validaIp(updateServidor.ip_local)) ? 'ng-invalid ng-dirty' : ''}}"
                                            [appendTo]="ipL" name="IP_Local" [(ngModel)]="updateServidor.ip_local">
                                        <label for="IP_Local">IP Local</label>
                                    </span>
                                </div>
                                <div class="p-field">
                                    <span class="p-float-label">
                                        <input id="nombre" type="text" pInputText #nombre="ngModel"
                                            class="p-inputtext-sm" minlength="4" (focusout)="validaServidorUpdate()"
                                            name="nombre" [(ngModel)]="updateServidor.nombre">
                                        <label for="nombre">Nombre del server</label>
                                    </span>
                                </div>
                            </div>
                            <div class="p-formgroup-inline">
                                <div class="p-field conexion" *ngFor="let conexion of conexiones_disp">
                                    <p-checkbox name="group1" value="{{conexion.value}}" inputId="{{conexion.value}}"
                                        [(ngModel)]="conexiones"
                                        (onChange)="addConnUpdate($event.checked, conexion.value)"></p-checkbox>
                                    <label class="label-check" for="{{conexion.value}}">{{conexion.label}}</label>
                                </div>
                            </div>
                            <div class="p-formgroup-inline">
                                <div class="p-formgroup-inline datos-servers">
                                    <div class="p-field conexion"
                                        *ngFor=" let servidor of updateServidor.servers; let i=index">
                                        <p>{{servidor.tipo_conexion == 'MySql' ? 'MySql:' : servidor.tipo_conexion ==
                                            'PostgreSql' ? 'PostgreSql:' : 'SSH:'}}</p>
                                        <div>
                                            <span class="p-float-label">
                                                <input id="puerto" type="number" class="p-inputtext-sm" pInputText
                                                    #puerto name="{{servidor.id+'_puerto'}}" required (focusout)="validaConnsServidorUpdate(servidor.puerto, servidor.id, servidor.tipo_conexion)"
                                                    [(ngModel)]="servidor.puerto" >
                                                <label for="{{servidor.id+'_puerto'}}">Puerto</label>
                                            </span>
                                        </div>
                                        <span class="p-float-label">
                                            <input id="usuario" type="text" class="p-inputtext-sm" pInputText #usuario
                                                name="{{servidor.id+'_usuario'}}" required (focusout)="validaConnsServidorUpdate(servidor.usuario, servidor.id, servidor.tipo_conexion)"
                                                [(ngModel)]="servidor.usuario" >
                                            <label for="{{servidor.id+'_usuario'}}">Usuario</label>
                                        </span>
                                      <span *ngIf="servidor.tipo_conexion == 'SSH'" class="p-float-label">
                                            <p-dropdown [options]="opcionSsh" #tipoPass class="p-inputtext-sm" name="producto"
                                                        placeholder='&nbsp;' optionLabel="label" [(ngModel)]="tipoPassSsh"
                                                        (onChange)="servidor.tipoPassSsh = tipoPassSsh.value; validaServidorUpdate()">
                                            </p-dropdown>
                                            <label for="tipoPassSsh">Seleccionar tipo password</label>
                                        </span>
                                        <span *ngIf="(servidor.tipo_conexion == 'SSH' && tipoPassSsh.value=='password')|| servidor.tipo_conexion != 'SSH'" class="p-float-label">
                                            <input id="password" type="password" class="p-inputtext-sm" pInputText
                                                #password name="{{servidor.id+'_password'}}" required (ngModelChange)="validaConnsServidorUpdate(servidor.password, servidor.id, servidor.tipo_conexion)"
                                                [(ngModel)]="servidor.password" >
                                            <label for="{{servidor.id+'_password'}}">Password</label>
                                        </span>
                                      <div *ngIf="servidor.tipo_conexion == 'SSH' && tipoPassSsh.value=='key'" style="margin-top: 1rem;">

                                        <p-fileUpload #fubauto mode="basic"
                                                      name="demo[]"
                                                      [showCancelButton]='cancelar'
                                                      accept=".pem"
                                                      maxFileSize="1000000"
                                                      (onSelect)="loadFile($event,servidor); validaConnsServidorUpdate('archivo', servidor.id, servidor.tipo_conexion)"
                                                      (onClear)='borrar(servidor)'
                                                      [showUploadButton]='false'
                                                      chooseLabel="Selec. private key"></p-fileUpload>
                                      </div>

                                        <div class="p-field p-fluid" *ngIf="producto.value?.value == 'mi_asistencia' && servidor.tipo_conexion == 'MySql' && servidor.centraliza == true">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="productAsistencia" class="p-inputtext-sm" name="subproducto"  [(ngModel)]="servidor.producto" (focusout)="callDB(updateServidor.id, nombre?.value, producto.value?.value , servidor.producto)" (focusout)="validaConnsServidorUpdate(servidor.dbcentral, servidor.id, servidor.tipo_conexion)">
                                                </p-dropdown>
                                                <label for="subproducto">Seleccione el producto</label>
                                            </span>
                                        </div>

                                        <div *ngIf="servidor.tipo_conexion == 'MySql' && servidor.centraliza == true" class="p-field p-fluid">
                                            <span class="p-float-label">
                                                <!--    Inicio Girha    -->
                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validaConnsServidorUpdate(servidor.dbcentral, servidor.id, servidor.tipo_conexion)" *ngIf="producto.value?.value == 'girha'">
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>

                                                <!--    Fin Girha    -->

                                                <!--    Inicio Mi Asistencia    -->
                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validaConnsServidorUpdate(servidor.dbcentral, servidor.id, servidor.tipo_conexion)" *ngIf="(producto.value?.value == 'mi_asistencia' && servidor.producto?.value == 'mi_asistencia') || (producto.value?.value == 'mi_asistencia' && servidor.producto == 'mi_asistencia')">
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>

                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validaConnsServidorUpdate(servidor.dbcentral, servidor.id, servidor.tipo_conexion)" *ngIf="(producto.value?.value == 'mi_asistencia' && servidor.producto?.value == 'cloudclock') || (producto.value?.value == 'mi_asistencia' && servidor.producto == 'cloudclock')">
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>

                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validaConnsServidorUpdate(servidor.dbcentral, servidor.id, servidor.tipo_conexion)" *ngIf="(producto.value?.value == 'mi_asistencia' && servidor.producto?.value == 'mi_asistencia_hik') || (producto.value?.value == 'mi_asistencia' && servidor.producto == 'mi_asistencia_hik')">
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>
                                                <!--    Fin Mi Asistencia    -->

                                                <!--    Inicio BioTime Cloud    -->
                                                <select class="selectDB" [(ngModel)]="servidor.dbcentral" [ngModelOptions]="{standalone: true}" (focusout)="validaConnsServidorUpdate(servidor.dbcentral, servidor.id, servidor.tipo_conexion)" *ngIf="producto.value?.value == 'biotime_cloud'">
                                                    <option *ngFor="let db of dbList" [value]="db.id">{{db.id}}</option>
                                                </select>
                                                <!--    Fin BioTime Cloud    -->

                                                <label for="dbcentra" class="label-db">Base de datos central</label>
                                            </span>
                                        </div>

                                        <div *ngIf="servidor?.tipo_conexion == 'MySql'" style="margin-top: 1rem;">
                                            <label class="centralizado"
                                                for="{{servidor.id+'_centraliza'}}">Centralizado:</label>
                                            <p-checkbox name="group2" inputId="{{servidor.id+'_centraliza'}}"
                                                [binary]="true" [(ngModel)]="servidor.centraliza">
                                            </p-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </p-dialog>

            </div>


            <!-- TERMINA MODAL PARA AGREGAR NUEVOS ROWS-->

        </div>
    </sb-layout-dashboard>
    <p-toast [baseZIndex]="300000" position="top-center" key="tc"></p-toast>
</div>
