<sb-layout-dashboard>
  <sb-dashboard-head title="Destrucción de Ambientes Girha" [hideBreadcrumbs]="true"></sb-dashboard-head>
  <div class="liber-ambientes">
    <div *ngIf='!mostrar'>
      <p>No hay Servidores activos para el producto Girha</p>
    </div>
    <div style="padding-top: 15px; margin-right: auto; margin-left: auto" *ngIf='mostrar'>
      <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="nuevo(f,1)">
        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid">
            <span class="p-float-label">
              <p-dropdown [disabled]="bloqueo" id="server" name="server" required [options]="clientes"
                          placeholder='&nbsp;' optionLabel="name"
                          [filter]="true" [filterBy]="'label'"
                          [(ngModel)]="selectedCLiente"
                          [emptyFilterMessage]="'No se encontraron resultados'">
                          <!--(onChange)='ambiente.server_2 = $event.value.name; log_ambiente.server_engine_id = $event.value.id'>-->
              </p-dropdown>
              <label>Seleccionar un ambiente</label>
            </span>
            <small *ngIf="selectedCLiente!== undefined && selectedCLiente===null" id="server_error"
                   class="p-invalid">Debe seleccionar un cliente</small>
          </div>
        </div>

        <div class="p-formgroup-inline">
          <div class="p-field p-col p-fluid" *ngIf="correo">
            <span class="p-float-label">
              <p-chips [(ngModel)]="correos" name="email" inputStyleClass="p-inputtext-sm" [allowDuplicate]="false"
                       separator="," addOnBlur="true" (onAdd)="agregarCorreo()" (onRemove)="listaCorreos()" ></p-chips>
              <label for="email">Email de Notificaci&oacute;n</label>
            </span>
            <!--<p [hidden]="!correo" style="font-size: .6rem;">Colocar un ";" al final de cada correo</p>-->
          </div>
        </div>
        <div class="p-formgroup-inline">
          <div class="p-field p-col" style="text-align: center">
            <button *ngIf="!verificado && !completado" style="margin-right: 5px" pButton type="submit" label="{{error ? 'Reintentar' : 'Destruir ambiente'}}" [disabled]="error ? false : cargando" class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check"
            iconPos="right"></button>
           <!--<button *ngIf="verificado && !completado" style="margin-right: 5px" pButton type="button"
                    label="{{error ? 'Reintentar' : 'Generar Ambiente'}}" [disabled]="bloqueo"
                    class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
                    (click)="nuevo(f,2)"></button>
            <button *ngIf="!verificado && completado" style="margin-right: 5px" pButton type="button"
                    label="Validar tareas adicionales" class=" p-button-sm p-button-rounded p-button-success"
                    icon="pi pi-check" iconPos="right" (click)="nuevo(f,3)"></button>
            <button *ngIf="verificado && completado && !correo" style="margin-right: 5px" pButton type="button"
                    label="{{error ? 'Reintentar' : 'Completar ambiente'}}" [disabled]="bloqueo"
                    class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
                    (click)="nuevo(f,4)"></button>-->
            <button *ngIf="verificado && completado && correo && !enviado" style="margin-right: 5px" pButton
                    type="button" label="Realizar últimos pasos" [disabled]="bloqueo" class=" p-button-sm p-button-rounded p-button-success"
                    icon="pi pi-check" iconPos="right" (click)="nuevo(f,5)"></button>
            <p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
              <ng-template let-message pTemplate="message">
                <div class="p-flex p-flex-column" style="flex: 1">
                  <div class="p-text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                  </div>
                  <div class="p-grid p-fluid">
                    <div class="p-col-6">
                      <button type="button" pButton (click)="onConfirm(f , 2)" label="Si" class="p-button-success"></button>
                    </div>
                    <div class="p-col-6">
                      <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-toast>
          </div>
        </div>
      </form>
    </div>

    <div class="errores">
      <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
      <button pButton *ngIf="detalles !== undefined && msgs1.length>0" (click)="detallesMsg()"
              label="Mostrar Detalle"></button>
      <p-messages [(value)]="detail" [enableService]="false"></p-messages>
    </div>
  </div>



</sb-layout-dashboard>
