<nav  class="sb-sidenav accordion scrollbar-primary" id="sidenavAccordion" [ngClass]="sidenavStyle">
    <div class="sb-sidenav-menu ">
        <div class="nav">
            <ng-container *ngFor="let section of sideNavSections"
                ><div class="sb-sidenav-menu-heading" *ngIf="section.text">{{ section.text }}</div>
                <ng-container *ngFor="let item of section.items"><sb-side-nav-item [sideNavItem]="sideNavItems[item]"></sb-side-nav-item></ng-container
            ></ng-container>
        </div>
      <div style=" width: 225px; height: 300px; overflow: hidden; background-size: 300px 300px; background-position: center center;   margin-top: 15px; margin-bottom: 15px; background-image: url('assets/img/logotipo.png')"></div>
    </div>

</nav>
