#loading{
  width:100%;
  height:100%;
  position:fixed;
  z-index:10000000;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto
}

#loading .bg{
  background:#000000;
  opacity:0.7;
  width:100%;
  height:100%;
  position:absolute;
  top:0
}



#loading>div:first-child{
  width: 250px;
  height:75px;
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  font-size:16px;
  z-index:10;
  color:#ffffff
}


