<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-success"
      acceptLabel='Sí' acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
<button (click)="salir()" pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-secondary p-button-text"></button>
