@import 'src/styles/variables.scss';

#userDropdown {
    cursor: pointer;
}


::ng-deep .p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
  color: rgba(255, 255, 255, 0.8) !important;
}
