
@import 'src/styles/variables.scss';

#layoutSidenav #layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1080;
  transform: translateX(-225px) ;
}


@media (min-width: 992px) {

  .layoutSidenav_content_show{
    padding-left: 0 !important;
  }

  .layoutSidenav_nav_hidden {
    transform: translateX(0px) !important;
  }

  .layoutSidenav_content_hidden {
    padding-left: 225px !important;
    transition: all 0.15s ease-in-out !important;

  }

}


@media (max-width: 992px) {

    .layoutSidenav_nav_hidden {
      transform: translateX(0px)!important;
    }
    .layoutSidenav_content_hidden {
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        z-index: $zindex-modal-backdrop;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }

}

