<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="assets/img/logotipo.png" class="user-avatar img-circle img-responsive" />
      <h1> <br /> <img style="width: 150px" src="assets/img/logo.png" alt="logo"><br /><small>Centralización</small></h1>
    </div>
  </div>

  <div class="form-content">

    <div class="card-login" >
      <div style="text-align: center">
        <p>Recuperar Acceso</p>
        <br>
      </div>
      <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="resetKey(f)">
        <div class="table-form">
          <div class="form-groups">
            <div class="p-fluid">
              <div class="p-field form-group">
                <span class="p-float-label ">
                    <input id="correo"  class="p-inputtext-sm" type="text" pInputText
                           [(ngModel)]="usuario.email"
                           name="email"
                           required
                           minlength="4"
                           pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*">
                    <label for="correo">Correo electrónico</label>
                </span>
                <small *ngIf="usuario.email!== undefined && !validateEmail(usuario.email)"  id="correo_error" class="p-invalid">Debe ser un correo</small>
              </div>

            </div>

            <div class="button-container">
              <button pButton pRipple type="submit" label="Solicitar llave" class="p-button-outlined p-button-secondary" ></button>
            </div>
          </div>

        </div>
        <div class="remember" style="height: 25px ">

          <span (click)="backLogin()" class="pass pointer"> Iniciar sesión</span>


        </div>

      </form>
    </div>
    <app-loading *ngIf="cargando"></app-loading>
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
        <div class="p-text-center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
          <h4>{{message.summary}}</h4>
          <p>{{message.detail}}</p>
        </div>
        <div class="p-grid p-fluid">
          <div class="p-col-6">
            <button type="button" pButton (click)="onConfirm()" label="Si" class="p-button-success"></button>
          </div>
          <div class="p-col-6">
            <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
</div>
