.lector_icono{
    font-size: 2rem;
}

.lector_conectado{
    color: #28a745 !important;
}

.lector_no_activo{
    color: #e80409 !important;
}

.bellLector{
    /*color: #EBB349;*/
    color: #d3a302;
    position: absolute;
    margin-left: 11px;
    font-size: 10px;
    margin-top: 5px;
}

.producto{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

.clientes{
    margin-bottom: 1rem;
}

.cliente-dos{
    /*width: 14.8rem;*/
    margin-left: 1rem;
    margin-right: 1rem;
}

.cliente{
    background-color: #FFFFFF;
    border-radius: .5rem .5rem .5rem .5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 1rem;
    padding-bottom: 9px;
}

.cliente p{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lector{
    width: 120px;
    cursor: pointer;
}

.datos_lector{
    font-size: .5rem;
}

.datos_lector .nombre{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lector-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lector-error p{
    padding-left: 1rem;
    padding-right: 1rem;
}

::ng-deep .p-carousel-content ul{
    display: none;
}

::ng-deep .p-carousel-container button{
    display: none;
}

::ng-deep .p-carousel-items-content{
    margin-left: 1rem;
    margin-right: .3rem;
    margin-bottom: 1rem;
}

#monitor-container {
    position: fixed;
    bottom: 40px;
    right: 15px;
    background-color: #28a745;
    color: #fff;
    border-radius: 100%;
}

.monitor-container-off{
    background-color: #e80409 !important;
}

.button-monitor {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 25px 10px;
}

.button-monitor:hover{
    cursor: pointer;
}

.block-tar{
    display: none !important;
}

.widthTableE{
    width: 9rem;
}

.widthTableP{
    width: 20rem;
}

.widthTableC{
    width: 12rem;
}

.widthTableR{
    width: 15rem;
}

.inline-textatea{
    width: 33.33%;
    padding: 0px 5px;
}

.textarea-form{
    width: 100%;
}

.estus-lectores{
    font-size: 9px !important;
    margin-top: -31px;
    margin-bottom: 0px;
}

.lectores{
    display: flex;
    margin-left: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lectores-dos{
    justify-content: flex-start;
}

.dropdownEstatus{
    margin-top: -19px;
    position: fixed;
}

.bitacoraGeneral{
    cursor: pointer;
}

form td {
    white-space: normal !important;
}