<div>
  <div>

  </div>
  <sb-layout-dashboard>
    <div>
      <div style="text-align: center">
        <h1 class="mt-4" style="font-size: 3rem">
          Bienvenido
        </h1>
      </div>
      <div style="text-align: center; padding: 10px">
        <img style="max-width: 300px" src="assets/img/logotipoRed.png" alt="">
      </div>
      <div>

      </div>

    </div>
  </sb-layout-dashboard>
</div>


