<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
<!--            <div class="text-muted">Copyright &copy; Your Website 2020</div>
            <div><a href="#">Privacy Policy &middot;</a><a href="#">Terms &amp; Conditions</a></div>-->
        </div>
    </div>
</footer>
