<sb-layout-dashboard>
    <sb-dashboard-head title='Ambientes Mi Asistencia' [hideBreadcrumbs]="true"></sb-dashboard-head>
    <!-- caso de no haber servers apli y engine -->
    <div class="liber-ambientes" *ngIf='!errorGral'>
        <div style="max-height: 300px;  padding-top: 15px; margin-right: auto; margin-left: auto">
            <p>No Hay servidores con este producto</p>
        </div>
    </div>

    <div class="liber-ambientes" *ngIf='errorGral'>
        <div class="botones-productos" *ngIf='!seleccionado'>
            <div>
                <p>Seleccione el producto que desea crear:</p>
            </div>
            <div class='div-botones'>
                <button style="margin-right: 5px" pButton type="button" label="Mi Asistencia"
                    class=" p-button-sm p-button-rounded p-button-success" (click)="producto(1)"></button>
                <button style="margin-right: 5px" pButton type="button" label="Mi Asistencia By Hik"
                    class=" p-button-sm p-button-rounded p-button-success" (click)="producto(2)"></button>
                <button style="margin-right: 5px" pButton type="button" label="CloudClock"
                    class=" p-button-sm p-button-rounded p-button-success" (click)="producto(3)"></button>
                <button style="margin-right: 5px" pButton type="button" label="ZKCheckTime"
                    class=" p-button-sm p-button-rounded p-button-success" (click)="producto(4)"></button>
            </div>
        </div>
        <div style="padding-top: 15px; margin-right: auto; margin-left: auto" *ngIf='seleccionado'>
            <form role="form" class="bottom-75" #f="ngForm" (ngSubmit)="nuevo(f,1)">
                <div class="p-formgroup-inline">
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]="true" id="cliente" type="number" class="p-inputtext-sm" pInputText
                                [(ngModel)]="ambiente.cliente" name="cliente" required>
                            <label for="cliente">Cliente</label>
                        </span>
                        <small *ngIf="ambiente.cliente!== undefined && this.ambiente.cliente.length<=0"
                            id="cliente_error" class="p-invalid">Debe colocar un nuevo cliente</small>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="codigoEmpresa" type="text" class="p-inputtext-sm" pInputText
                                #rfc='ngModel' [(ngModel)]="ambiente.codigoEmpresa" name="codigoEmpresa" required>
                            <label for="codigoEmpresa">RFC</label>
                            <small *ngIf="empresaError" id="descEmpresa_error" class="p-invalid">{{detalles}}</small>
                        </span>
                        <div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)" id="descEmpresa_error" class="p-invalid">
                            <small *ngIf="ambiente.codigoEmpresa !== undefined && rfc.errors.required">Ingrese un
                                rfc</small>
                        </div>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="descEmpresa" type="text" class="p-inputtext-sm" pInputText
                                #empresa='ngModel' [(ngModel)]="ambiente.descEmpresa" name="descEmpresa" required>
                            <label for="descEmpresa">Nombre de la Empresa</label>
                            <small *ngIf="empresaError" id="descEmpresa_error" class="p-invalid">{{detalles}}</small>
                        </span>
                        <div *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)" id="descEmpresa_error"
                            class="p-invalid">
                            <small *ngIf="ambiente.descEmpresa !== undefined && empresa.errors.required">Ingrese el
                                nombre de la empresa</small>
                        </div>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <button style="margin-right: 5px" pButton type="button" [disabled]='validado'
                            label="Validar datos" class=" p-button-sm p-button-rounded p-button-success"
                            icon="pi pi-check" iconPos="right" (click)='validarEmpresa()'></button>
                    </div>
                </div>
                <div class="p-formgroup-inline" *ngIf='!empresaError'>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="usuario" type="text" class="p-inputtext-sm" pInputText
                                [(ngModel)]="ambiente.usuario" name="usuario" required>
                            <label for="usuario">Usuario</label>
                        </span>
                        <small *ngIf="ambiente.usuario!== undefined && this.ambiente.usuario.length<5"
                            id="usuario_error" class="p-invalid">Minumo 5 caracteres</small>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <div style="display: flex; flex-wrap: wrap; align-items: flex-start;">
                            <div style="width: 80%">
                                <span class="p-float-label">
                                    <input [disabled]='bloqueo' id="contraseña" type="password" class="p-inputtext-sm"
                                        pPassword pInputText promptLabel="Escribir contraseña" weakLabel="Debil"
                                        mediumLabel="Intermedia" strongLabel="Fuerte" [(ngModel)]="ambiente.password"
                                        name="password" required showPassword="true" minlength="8"
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                    <label for="contraseña">Contraseña</label>
                                </span>
                            </div>
                            <div style="width: 20%;" pTooltip="Generar contraseña">
                                <button
                                    style="border-bottom-left-radius: 0;    border-top-left-radius: 0; width: 100%; margin-right: 5px"
                                    [disabled]="bloqueo" pButton type="button"
                                    class=" btn-password p-button-sm p-button-success" icon="pi pi-key" iconPos="right"
                                    (click)="generarPass()"></button>
                            </div>
                        </div>
                        <small *ngIf="ambiente.password!== undefined && ambiente.password.length<8" id="pass_error"
                            class="p-invalid">Minumo 8 caracteres</small>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="dirEmpresa" type="text" class="p-inputtext-sm" pInputText
                                [(ngModel)]="ambiente.dirEmpresa" name="dirEmpresa" required>
                            <label for="dirEmpresa">Direcci&oacute;n de la Empresa</label>
                        </span>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="contacto" type="text" class="p-inputtext-sm" pInputText
                                [(ngModel)]="ambiente.contacto" name="contacto" required>
                            <label for="contacto">Nombre de contacto</label>
                        </span>
                    </div>
                </div>
                <div class="p-formgroup-inline" style="width: 75%;" *ngIf='!empresaError'>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="telefono" type="tel" class="p-inputtext-sm" pInputText
                                [(ngModel)]="ambiente.telefono" name="telefono" required>
                            <label for="telefono">Telefono</label>
                        </span>
                    </div>
                    <div class="p-field p-col p-fluid">
                        <span class="p-float-label">
                            <input [disabled]='bloqueo' id="email_contacto" type="email" class="p-inputtext-sm"
                                pInputText #email_contacto='ngModel' [(ngModel)]="ambiente.email_contacto"
                                name="email_contacto" required
                                pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                            <label for="email_contacto">Email de Contacto</label>
                        </span>
                        <div *ngIf="email_contacto.invalid && (email_contacto.dirty || email_contacto.touched)"
                            id="correo_error" class="p-invalid">
                            <small
                                *ngIf="ambiente.email_contacto !== undefined && email_contacto.errors.required">Ingrese
                                un email</small>
                            <small *ngIf="email_contacto.errors.patten">Ingrese un email valido</small>
                        </div>
                    </div>
                    <div class="p-field p-col p-fluid">
                    </div>
                </div>
                <div class="p-formgroup-inline">
                    <div class="p-field p-col p-fluid" *ngIf="correo">
                      <span class="p-float-label">
                        <p-chips [(ngModel)]="correos" name="email" inputStyleClass="p-inputtext-sm" [allowDuplicate]="false"
                        separator="," addOnBlur="true" (onAdd)="agregarCorreo()" (onRemove)="listaCorreos()" ></p-chips>
                        <label for="email">Email de Notificaci&oacute;n</label>
                      </span>
                      <p [hidden]="!correo" style="font-size: .6rem;">Colocar un ";" al final de cada correo</p>
                    </div>
                  </div>
                <div class="p-formgroup-inline">
                    <div class="p-field p-col" style="text-align: center" *ngIf='!empresaError'>
                        <button *ngIf="!verificado && !completado" style="margin-right: 5px" pButton type="submit"
                            label="Validar datos" class=" p-button-sm p-button-rounded p-button-success"
                            icon="pi pi-check" iconPos="right"></button>
                        <button *ngIf="verificado && !completado" style="margin-right: 5px" pButton type="button"
                            label="{{error ? 'Reintentar' : 'Generar Ambiente'}}" [disabled]="bloqueo"
                            class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
                            (click)="nuevo(f,2)"></button>
                        <button *ngIf="!verificado && completado" style="margin-right: 5px" pButton type="button"
                            label="Validar tareas adicionales" class=" p-button-sm p-button-rounded p-button-success"
                            icon="pi pi-check" iconPos="right" (click)="nuevo(f,3)"></button>
                        <button *ngIf="verificado && completado && !correo" style="margin-right: 5px" pButton
                            type="button" label="{{error ? 'Reintentar' : 'Completar ambiente'}}" [disabled]="bloqueo"
                            class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
                            (click)="nuevo(f,4)"></button>
                        <button *ngIf="verificado && completado && correo && !enviado" style="margin-right: 5px" pButton
                            type="button" label="Realizar Ultimos Pasos" [disabled]="bloqueo"
                            class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-check" iconPos="right"
                            (click)="nuevo(f,5)"></button>
                        <button *ngIf="enviado" style="margin-right: 5px" pButton type="button" label="Limpiar"
                            class=" p-button-sm p-button-rounded p-button-success" icon="pi pi-times" iconPos="right"
                            (click)="reiniciarValores()"></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="errores">
            <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
            <button pButton *ngIf="detalles !== undefined && msgs1.length>0" (click)="detallesMsg()"
                label="Mostrar Detalle"></button>
            <p-messages [(value)]="detail" [enableService]="false"></p-messages>
        </div>

        <div *ngIf="progressPorcent!==0" style="margin-bottom: 25px; margin-top: 25px;">
            <div class="{{error? 'error_bar' : ''}}" style="width: 50%; margin-left: auto; margin-right: auto;">
                <p-progressBar [value]="progressPorcent"></p-progressBar>
            </div>
        </div>
        <div class='tablas' style="margin-bottom: 10px" *ngIf="verificado && !completado || !verificado && completado">
            <div class="scrollH">

                <p-table *ngIf="tables.length>0" [value]="tables" styleClass="p-datatable-sm"
                    [style]='{width: "15rem"}'>
                    <ng-template class="header-table" pTemplate="header">
                        <tr>
                            <th class="table-header">Tablas</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1 ? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Tables_name | slice: 0 :25}}</td>
                        </tr>
                    </ng-template>
                </p-table>


                <p-table *ngIf="funciones.length>0" [value]="funciones" styleClass="p-datatable-sm"
                    [style]='{width: "15rem"}'>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="table-header">Funciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Name | slice: 0 :25}}</td>
                        </tr>
                    </ng-template>
                </p-table>


                <p-table *ngIf="events.length>0" [value]="events" styleClass="p-datatable-sm"
                    [style]='{width: "15rem"}'>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="table-header">Eventos</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Name | slice: 0 :25}}</td>
                        </tr>
                    </ng-template>
                </p-table>


                <p-table *ngIf="sp.length>0" [value]="sp" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="table-header">Store Procedures</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Name | slice: 0 :25}}</td>
                        </tr>
                    </ng-template>
                </p-table>


                <p-table *ngIf="triggers.length>0" [value]="triggers" styleClass="p-datatable-sm"
                    [style]='{width: "15rem"}'>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="table-header">Triggers</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Trigger | slice: 0 :25}}</td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-table *ngIf="views.length>0" [value]="views" styleClass="p-datatable-sm" [style]='{width: "15rem"}'>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="table-header">Views</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Tables_name | slice: 0 :25}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="scrollH" style="margin-bottom: 10px" class="d-flex flex-row" *ngIf="verificado && completado">
            <div style="width: 30%">
                <p-table [value]="tareas" styleClass="p-datatable-sm">
                    <ng-template class="header-table" pTemplate="header">
                        <tr>
                            <th class="table-header">Tareas adicionales</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.nombre}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div style="width: 30%; margin-left: 1rem;" *ngIf='verificado && completado && correo'>
                <p-table [value]="extras" styleClass="p-datatable-sm">
                    <ng-template class="header-table" pTemplate="header">
                        <tr>
                            <th class="table-header">Ultimos pasos</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [style]='{height: "1.3875rem"}'>
                            <td pTooltip="{{product.error}}"
                                class="{{product.ejecutado === 1? 'table-body-fin':'table-body'}} {{product.ejecutado === 2? 'table-body-error':''}}">
                                {{product.Name}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>


    </div>
    <app-loading *ngIf="cargando"></app-loading>

</sb-layout-dashboard>