<p-table #dt [value]="customers" dataKey="id" sortMode="multiple"
         [columns]="cols"
         [rows]="10"
         [showCurrentPageReport]="true"
         [rowsPerPageOptions]="[10,25,50]"
         [loading]="loading"
         styleClass="p-datatable-customers"
         [paginator]="true"
         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
         [filterDelay]="0"
         [globalFilterFields]="['nombre','correo','tipo']"
         >
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de usuarios
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda Global" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
        {{col.header}}
        <p-sortIcon field="{{col.field}}"></p-sortIcon>
      </th>
    </tr>
    <!--<tr>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by Name" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter">
      </th>
      <th>
        <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)" styleClass="p-column-filter" optionLabel="name">
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{option.label}}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
      </th>
      <th>
        <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>
        <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter" >
      </th>
    </tr>-->
  </ng-template>
  <ng-template pTemplate="body"
               let-rowData let-columns="columns">

    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>

  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No se encontraron resultados.</td>
    </tr>
  </ng-template>
</p-table>
